<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466337071062-dhcgv996n7nsk39cs9dhti5rl1si7bqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466337071062-dhcgv996n7nsk39cs9dhti5rl1si7bqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDfS8FlZNZWvpqw0lFMR4wtVJJ-fSckrxU</string>
	<key>GCM_SENDER_ID</key>
	<string>466337071062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fmi.swift.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-ebb39</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-ebb39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466337071062:ios:729db95037cc685e08ee77</string>
	<key>DATABASE_URL</key>
	<string>https://newsapp-ebb39.firebaseio.com</string>
</dict>
</plist>